body{
    background-color:white;

}
header{
    background-color:black;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

header a{
    color:white;
  padding-left: 50px;
  font-family:sans-serif
}
h1{
    text-align: center;
}
img{
    
    margin-left:auto;
    margin-right: auto;
    display:block;
}

#fundo {
    background-color: black;

}